:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #212121;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* LOGO */
.logo {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-logo {
  color: var(--secondary-text-color-theme-light);
}
.footer-logo {
  color: var(--primary-text-color-theme-dark);
}

/* HEADER */
.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 92px;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
.nav-list-link:hover,
:focus {
  color: var(--accent-color);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-list-item:not(:last-child) {
  margin-right: 50px;
}
.contact-list-link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-list-link:hover,
:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: #2f303a;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-tittle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  max-width: 696px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
}
.modal-button {
  padding: 10px 32px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ADVANTAGES */
.advantages-conatiner {
  padding-top: 94px;
  padding-bottom: 94px;
}
.adv-list {
  display: flex;
}
.adv-tittle {
  font-family: var(--primary-font-family);
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
}
.adv-description {
  font-style: normal;
}

/* WHAT WE DO */
.secondary-tittle {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}

/* TEAM */
.team {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}
.teammate-tittle {
  font-weight: 500;
  color: var(--secondary-text-color-theme-light);
}

/* FOOTER */
.footer {
  background-color: #2f303a;
}

.address-place {
  font-family: var(--primary-font-family);
  font-style: normal;
  color: var(--primary-text-color-theme-dark);
}
.address-place:hover,
:focus {
  color: var(--accent-color);
}

.address-list-link {
  font-style: normal;
  line-height: 1.81;
  color: var(--secondary-text-color-theme-dark);
}
.address-list-link:hover,
:focus {
  color: var(--accent-color);
}

/* ================= PORTFOLIO ================= */

/* PORTFOLIO FILTERS */
.portfolio-button-filter {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-text-color-theme-light);
  cursor: pointer;
}
.portfolio-button-filter:hover,
:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

/* PROJECTS */
.project-tittle {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-light);
}
.project-style {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color-theme-light);
}
